### Data Structures

1D
Hetrogeneous
Vectorization
Broadcasting not possible

tuple - () or no brackets or tuple()
list - [] or list()
dict
set

#### tuple and list

In [1]:
l1 = [1, 2, 3, 4, 5]

In [2]:
t1 = tuple(l1)

In [3]:
type(l1)

list

In [4]:
type(t1)

tuple

In [8]:
t2 = tuple(range(11, 20, 2))
t2

(11, 13, 15, 17, 19)

In [10]:
l1

[1, 2, 3, 4, 5]

In [12]:
# add number 100 to all the elemets in the list l1
l1 + 100

TypeError: can only concatenate list (not "int") to list

In [13]:
# get me all the elements from list l1 which are GT 2
l1 > 2

TypeError: '>' not supported between instances of 'list' and 'int'

In [18]:
l1

[10, 20, 30, 40, 50]

In [22]:
l1[2]

30

In [17]:
l1 = list(range(10, 51, 10))
l1

[10, 20, 30, 40, 50]

In [24]:
# print all the elements avaialble in the list l1
for i in l1:
    print(i)

10
20
30
40
50

In [26]:
len(l1)

5

In [27]:
for i in range( len(l1) ):
    print( l1[i] )

10
20
30
40
50

In [15]:
# print all the elements avaialble in the list l1 after adding 100 to each value
for ivar in l1:
    print(ivar + 100)

101
102
103
104
105

In [28]:
for ivar in range( len(l1) ):
    print( l1[ivar] + 100 )

110
120
130
140
150

In [30]:
l1

[10, 20, 30, 40, 50]

In [32]:
l1[1] = l1[1] + 100

120

In [33]:
# update the list l1 after adding 100 to each element
for i in range( len(l1) ):
    l1[i] = l1[i] + 100

In [34]:
l1

[110, 120, 130, 140, 150]

In [ ]:
# update the list l1 after adding 100 to each element
for i in l1:
    l1[i] = i + 100

# this way we will NOt be able to get the answer

In [36]:
l2 = list(range(10))
l2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
# print all the values which are greater than 5
for var in l2:
    if var > 5:
        print(var)

6
7
8
9

In [40]:
for var in range( len(l2) ):
    if l2[var] > 5:
        print( l2[var] )

6
7
8
9

In [42]:
l2 = list(range(10, 51, 10))
l2

[10, 20, 30, 40, 50]

In [44]:
# why this code wont work l2[var]= var+100 for updating ?? 
# this is incorrect
for ivar in l2:
    l2[ivar] = ivar + 100

IndexError: list assignment index out of range

In [100]:
# create a new list l3 after adding number 100 to l2
l1 = [10, 20, 30, 40, 50]
l3 = []
for i in range( len(l1) ):
    l3.append( l1[i] + 100 )
    
print(l1)
print(l3)

[10, 20, 30, 40, 50]
[110, 120, 130, 140, 150]

In [101]:
l3 = []
for ivar in l2: 
    l3.append( ivar + 100 )
    
print(l2)
print(l3)

[10, 20, 30, 40, 50]
[110, 120, 130, 140, 150]

### list comprehensions

They are used to perform inline operations; in datascience we will use list comprehensions as a replacement of for loop for mathematical opertions and indexing

syntax:

[ var (mathematical operation) for var in iterable (indexing) ]

In [106]:
l4 = [ 1, 2, 3, 2,1 ,2, 3, 4, 5, 4, 3,2 ,1 ]

In [107]:
# add number 100 to all elements of list l4
[ i + 100 for i in l4 ]

[101, 102, 103, 102, 101, 102, 103, 104, 105, 104, 103, 102, 101]

In [110]:
# get only the even numbers from list l4
l5 = []
for i in l4:
    if i % 2 == 0:
        l5.append(i)
print(l5)

[2, 2, 2, 4, 4, 2]

In [112]:
l5 = [ i for i in l4 if i % 2 == 0 ]
print(l5)

[2, 2, 2, 4, 4, 2]

In [52]:
l3 = []
for i in range( len(l1) ):
    l3.append( l1[i] + 100 )

### Methods of tuple and list

In [54]:
print( dir(tuple) )

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [53]:
print( dir(l1) )

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
object_name.method_name()

In [55]:
print()

In [58]:
l1

[110, 120, 130, 140, 150]

In [59]:
l1.append(200)

In [60]:
l1

[110, 120, 130, 140, 150, 200]

In [61]:
l1.extend?

In [62]:
l1.extend(t1)

In [64]:
l1.extend(range(20))

In [65]:
l1

[110,
 120,
 130,
 140,
 150,
 200,
 1,
 2,
 3,
 4,
 5,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19]

In [66]:
l1.append(l2)

In [68]:
l1

[110,
 120,
 130,
 140,
 150,
 200,
 1,
 2,
 3,
 4,
 5,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 [10, 20, 30, 40, 50]]

In [70]:
l1.insert?

In [71]:
l1.clear()

In [72]:
l1

[]

In [73]:
l1.append(10)

In [74]:
l1

[10]

In [75]:
l1.insert(0, 20)

In [76]:
l1

[20, 10]

In [82]:
l3 = [1,2, 3, 4, 1, 2, 1,2 , 3, 4 ]
l3

[1, 2, 3, 4, 1, 2, 1, 2, 3, 4]

In [86]:
l3.remove(3)

In [87]:
l3

[1, 2, 4, 1, 2, 1, 2, 4]

In [89]:
l3

[1, 2, 4, 1, 2, 1, 2, 4]

In [90]:
l3.pop()

4

In [91]:
l3

[1, 2, 4, 1, 2, 1, 2]

In [92]:
l3.pop(3)

1

In [93]:
l3.copy?

In [94]:
l3

[1, 2, 4, 2, 1, 2]

In [95]:
l4 = l3   # pass by reference

In [96]:
l5 = l3.copy()   # passing the values

In [97]:
id(l3)

1610846224328

In [98]:
id(l4)

1610846224328

In [99]:
id(l5)

1610845984392

### dict

syntax:
{ key1 : val1, key2 : val2, ......... }

* in dict, there is a concept of key and value pairs
* keys can only be of immutable type but values can be anything
* Guideline: Always use simple types as keys [int or str]
* keys can only be unique, however we will not get any error if we give duplicate key.

In [113]:
d1 = {1:10, 2:20, 3:30}

In [114]:
type(d1)

dict

In [115]:
len(d1)

3

In [116]:
d1

{1: 10, 2: 20, 3: 30}

In [119]:
d3 = { 1:10, 2:20, 3:30, 1:40 }

In [120]:
d3

{1: 40, 2: 20, 3: 30}

In [121]:
d2 = { 1 : 10, 2 : 20, True : 30, 'EmpName' : 'John', 'Salary' : 1000.5, 'Age' : 25 }

In [118]:
len(d2)

5

In [122]:
d2

{1: 30, 2: 20, 'EmpName': 'John', 'Salary': 1000.5, 'Age': 25}

In [123]:
d4 = { 1:10, 'EmpName': 'John', 10.5:200, False:t1, t2:l1 }

In [124]:
d4

{1: 10,
 'EmpName': 'John',
 10.5: 200,
 False: (1, 2, 3, 4, 5),
 (11, 13, 15, 17, 19): [10, 20, 30, 40, 50]}

In [125]:
d5 = { 1:10, 'EmpName': 'John', 10.5:200, False:t1, l1:t2 }

TypeError: unhashable type: 'list'

In [126]:
d1

{1: 10, 2: 20, 3: 30}

In [128]:
d1[1]

10

In [129]:
d2

{1: 30, 2: 20, 'EmpName': 'John', 'Salary': 1000.5, 'Age': 25}

In [130]:
d2['EmpName']

'John'

In [132]:
d2['Salary'] = 10000

In [133]:
d2

{1: 30, 2: 20, 'EmpName': 'John', 'Salary': 10000, 'Age': 25}

In [135]:
d2['Email'] = "abc@def.com"

In [136]:
d2

{1: 30,
 2: 20,
 'EmpName': 'John',
 'Salary': 10000,
 'Age': 25,
 'Email': 'abc@def.com'}

In [137]:
print(dir(d1))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [138]:
d1.keys()

dict_keys([1, 2, 3])

In [139]:
d1.values()

dict_values([10, 20, 30])

In [140]:
d1.items()

dict_items([(1, 10), (2, 20), (3, 30)])

In [144]:
d1.pop()

TypeError: popitem() takes no arguments (1 given)

In [146]:
for var in d2.keys():
    print(var)

1
2
EmpName
Salary
Age
Email

In [150]:
Employees = { 'EmpID': [1001, 1002, 1003, 1004],
                'Name': ['John', 'Andrina', 'Andrew', 'Ram'],
                    'Salary': [10000, 15000, 20000, 15000]}

In [151]:
Employees

{'EmpID': [1001, 1002, 1003, 1004],
 'Name': ['John', 'Andrina', 'Andrew', 'Ram'],
 'Salary': [10000, 15000, 20000, 15000]}

### set

keyless dict

In [152]:
s1 = { 1, 2, 3, 4, 5, 1,2 , 3, 4, 5, 6, 10, 1, 2, 1, 4, 10, 30, 32, 3 }

In [153]:
s1

{1, 2, 3, 4, 5, 6, 10, 30, 32}

In [154]:
s2 = { 1, 2, 3, 30, 35, 40}

In [155]:
s2

{1, 2, 3, 30, 35, 40}

In [156]:
s2[1]

TypeError: 'set' object is not subscriptable

In [159]:
i = 0

for j in s2:
    
    if i in (2, 4):
        print(j)
        
    i = i + 1    # i += 1

3
40

In [161]:
set([ i + 100 for i in s2 ])

{101, 102, 103, 130, 135, 140}

In [162]:
print(dir(s1))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [163]:
s1

{1, 2, 3, 4, 5, 6, 10, 30, 32}

In [164]:
s2

{1, 2, 3, 30, 35, 40}

In [165]:
s1.intersection(s2)

{1, 2, 3, 30}

In [166]:
s1.difference(s2)

{4, 5, 6, 10, 32}

In [168]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 10, 30, 32, 35, 40}

In [167]:
s1.symmetric_difference(s2)

{4, 5, 6, 10, 32, 35, 40}

### UDF

User Defined Functions

In [ ]:
Function definition:
    
    def func_name( a1, a2, a3, ...... ):
        logic..
        
        return 
    
    * mandatory arguments
    * optional agruments

Function call

    fn_add_2_num( val1, va2, .... )
    
    * positional arguments
    * keyword arguments

In [169]:
# write a UDF to add two numbers
def fn_add_2_num( num1, num2 ):
    return num1 + num2

In [170]:
fn_add_2_num( 10, 20 )

30

In [171]:
# Write a UDF to subtract two numbers
def fn_sub_2_num( n1, n2 ):
    return n1 - n2

In [172]:
fn_sub_2_num(10, 5)

5

In [173]:
fn_sub_2_num(n1 = 10, n2 = 5)

5

In [174]:
fn_sub_2_num(n2 = 10, n1 = 5)

-5

In [175]:
fn_sub_2_num()

TypeError: fn_sub_2_num() missing 2 required positional arguments: 'n1' and 'n2'

In [176]:
# Write a UDF to subtract two numbers
def fn_sub_2_num( n1 = 0, n2 = 0 ):
    return n1 - n2

In [178]:
fn_sub_2_num(10)

10

In [179]:
fn_sub_2_num(n1 = 10)

10

In [180]:
fn_sub_2_num(n2 = 10)

-10

In [181]:
fn_sub_2_num(, 10)

SyntaxError: invalid syntax (<ipython-input-181-5111571a2f90>, line 1)

In [182]:
# Write a UDF to subtract two numbers
def fn_sub_2_num( n1, n2 = 0 ):
    return n1 - n2

In [184]:
fn_sub_2_num(5)

5

In [185]:
fn_sub_2_num(n1 = 5)

5

In [186]:
fn_sub_2_num(n2 = 5)

TypeError: fn_sub_2_num() missing 1 required positional argument: 'n1'

### loops

syntax:
    
while condition/s:
    logic...
    
Conditional loop, entry controlled loop, will execute only for True values
** There should atleast be one condition / statement that will make conditions as False in while loop to exit from the loop

In [193]:
# print the values from 1 till 10
i = 1
while i <= 10:
    print(i)
    i += 1     # i = i + 1

2
3
4
5
6
7
8
9
10
11

In [190]:
var = input()

10

In [191]:
var

'10'

In [192]:
type(var)

str