In [ ]:
Base python: general purpose language
    web development
    scripting
    data science

In Python: We can wite the text in single or double quotes
    
Python is case sensitive:
    99.5% of the keywords in basic python are in small case
    True | False | None

Types of the data:
   
    char
        chars
        alphanumerics
    
    numeric
        integers: empid, custid etc.
        float: salary, tax, price, sales, weight...
        date and time
        bool: True | False    or    1 | 0
------------------------------------------------------------------------

            
variables
    INC (Identifier Naming Conventions) rules: 
        1. Names can be alphanumeric
        2. No special chars allowed; underscore is an exception
        3. Names can start with alphabets and underscore
                guideline: dont start the names with _ or __
        4. Don't use any default keyword in the names - Guideline

use del as keyword to deallocate the memory

datatypes: int, float, bool, str

operators: 
    assignment: =
        
    mathematical | arithmatic : + - * / // % **   [BODMAS]
        
    arithmatic + assignment : += -= *= .....
        
    conditional | Comparision | Relational - Output will always be BOOLEAN
        single valued             : > >= < <= == !=
        multi valued / membership : in
    
    logical
        and or : to combine the boolean or boolean outputs
            and : will return True when all the conditions are True
            or  : will return True when atleast one condition is True
        not     : to negate the boolean
        
        bitwise operators: will discuss later [numpy]
            & | -

syntax rules

control flow statements
    conditional statements
        if elif else
        ternary if
    
    Iterative statements | loops
        conditional loop
        ranged loop

### syntax rules:

In [ ]:
# include <stdio.h>
.....

void main () {

int a;
int b;
int c;

a = 10;
b = 20;
c = a + b;

if (c > 0) {
print('positive');
}
else {
print('negative');
}
}

In [ ]:
# include <stdio.h>
.....

void main () {
    
    int a;
    int b;
    int c;
    
    a = 10;
    b = 20;
    c = a + b;
    
    if (c > 0) {
        print('positive');
    }
    else {
        print('negative');
    }
}

In [ ]:
# include <stdio.h>
.....

void main():
    a = 10
    b = 20
    c = a + b

    if c > 0:
        print('positive')
    else:
        print('negative')

In [16]:
sum([1, 2, 3, 4, 5])

15

In [15]:
del sum

In [13]:
sum = 10

In [11]:
not 5 > 10

True

In [4]:
5 // 2

2

In [10]:
5 > 3 and 2 == 2 and 4 > 2

True

True

In [7]:
4 = 4

SyntaxError: can't assign to literal (<ipython-input-7-25ad728fdf0a>, line 1)

### Conditional statements

In [19]:
# print if the number is positive or negative
num = 0
if num > 0:
    print('Positive')
else:
    print('Negative')

Negative

In [22]:
# print if the number is positive or negative or zero
num = 10
if num > 0:
    print('Positive')
elif num == 0:
    print('Zero')
else:
    print('Negative')

Positive

In [23]:
num = 0
if num > 0:
    print('Positive')
elif num == 0:
    print('Zero')

In [ ]:
input()

In [26]:
# Print if the given exam is for python or not
sExam = input('Enter the exam name: ')
if sExam == 'Python':
    print('Its a python exam')
else:
    print('Its not a python exam')

Enter the exam name: Excel
Its not a python exam

### ternary if

# Excel: if( condition/s, True_val, False )
    
Syntax:
True_value if condition/s else False_value

In [30]:
# print if the number is positive or negative
num = 0
print('Positive' if num > 0 else 'Negative')

Negative

In [34]:
# print if the number is positive or negative or zero
num = -10
print('Positive' if num > 0 else 'Zero' if num == 0 else 'Negative')

Negative

### range

In [ ]:
range( start, end, step )
range( start, end ) # step = 1
range( end ) # start = 0, step = 1

# range is going to generate the numbers starting from start till end - 1 if step is positive
# range is going to generate the numbers starting from start till end + 1 if step is negative

### Loops

syntax:
    
for var_name in iterable:
    statement1
    statement2
    ....
    
range is one of the iterable (which contains multiple values that can be looped upon)

In [49]:
for i in range(0, 5, 1):    # [0, 1, 2, 3, 4]
    print(i)

0
1
2
3
4

In [51]:
for i in range(5, 0, -1):   # [5, 4, 3, 2, 1]
    print(i)

5
4
3
2
1

In [54]:
for i in range(0, 0, -1):
    print(i)

0

### data structures: tuple, list, dict, set

Properties:
1D, Hetrogeneous, Vectorization, Broadcasting not possible

1. How to create a data structure
2. How to retive the data out of the data structure
3. How we can Update / Insert the data in the data structure (if possible)
4. What are the methods(functions) and attributes(variables) of data structure
5. How to perform mathematical operations and indexing (condition checking)

              create                 retrive          update
              -----------------------------------------------------------------------
1. tuple      () or no brackets      []               immutable
2. list       []                     []               [] =
3. dict       {}                     []               [] =
4. set        {}                     --               --
  (keyless dict)

In [37]:
t1 = ('EmpID', 'Name', 'Salary')

In [39]:
t2 = 1, 2, 3, 4

In [40]:
type(t2)

tuple

In [42]:
t3 = 10, 20, 30, 40, 50

In [43]:
t3[2]

30

In [44]:
t3[-3]

30

In [45]:
t3[-1]

50

In [46]:
t3

(10, 20, 30, 40, 50)

### slicing

ds[ start : end : step ]

ds[ : : ]

In [57]:
t3[ 1 : 3 : 1 ]

(20, 30)

In [58]:
t3

(10, 20, 30, 40, 50)

In [62]:
t3[ -1 : -3 : -1 ]

(50, 40)

In [66]:
t3[ : : -1]

(50, 40, 30, 20, 10)

In [67]:
t3[ -2 : -5 : -1 ]

(40, 30, 20)

In [68]:
t3[  : -5 : -1 ]

(50, 40, 30, 20)

In [69]:
l1 = [10, 20, 30, 40, 50]

In [71]:
l1[-3]

30

In [72]:
l1[-1]

50

In [73]:
l1[ 1:4 ]

[20, 30, 40]

In [77]:
l1[-2:-5:-1]

[40, 30, 20]

In [78]:
l1[3:]

[40, 50]

In [79]:
l1[:3]

[10, 20, 30]

In [82]:
t3[2] = -1

TypeError: 'tuple' object does not support item assignment

In [84]:
l1

[10, 20, 30, 40, 50]

In [86]:
l1[2] = -1

In [87]:
l1

[10, 20, -1, 40, 50]

## Mutable objects can be updated in the same memory location

In [88]:
t4 = (1, 2, 3, 4, 5)

In [89]:
type(t4)

tuple

In [90]:
id(t4)

1866363449064

In [91]:
t4 = (1, 2, -1, 4, 5)

In [92]:
t4

(1, 2, -1, 4, 5)

In [93]:
id(t4)

1866363448968

In [94]:
l1

[10, 20, -1, 40, 50]

In [95]:
id(l1)

1866367055880

In [96]:
l1[2] = 100

In [97]:
id(l1)

1866367055880

### pass by value and pass by reference, in python by default everything is pass by reference

In [98]:
l1

[10, 20, 100, 40, 50]

In [99]:
l2 = l1

In [100]:
l2

[10, 20, 100, 40, 50]

In [101]:
l2[2] = -1

In [102]:
l2

[10, 20, -1, 40, 50]

In [103]:
l1

[10, 20, -1, 40, 50]

In [104]:
id(l1)

1866367055880

In [105]:
id(l2)

1866367055880

In [107]:
print(dir(l1))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
UDFs | lambda | map
difference between function and UDF

In [ ]:
numpy

In [ ]:
pandas:

import
summary | describe
loc | iloc
apply applymap