properties of python data structures
1D, hetrogeneous, vectorization is allowed, broadcasting was not possible

properties of nd arrays
ND, homogeneous, vectorization is allowed, broadcasting possible


PANDAS - Panel Data Analysis
--------------------------------------------------------
structured data: tabular data - rows and columns
rows: observations, records
columns: variables, fields    
   
   
Two data structures: Series and DataFrame

Series
1D, homogeneous, vectorization is allowed, broadcasting possible

DataFrame
2D, hetrogeneous, vectorization is allowed, broadcasting possible

Data analysis, what all you have done?

Data Import / Data Extraction

Data Prepration

EDA - Exploratory data analysis

Structure / Metadata:
    .shape, .columns, .dtypes, .info()
    .size, .ndim, .bytes, type()

Content based / data based
    .head(), .tail(), .describe()
    .mean(), .sum(), .count(), .std(), .var(), .quantile( 0.5 ), quantile(), .min(), .max()

Data Cleaning / data munging 

Structure / Metadata:
----------------------------------------
subsetting - Selecting few columns
reorder
rename
drop / delete the column
add new column / calculated field / conditional columns / derived columns
datatypes

Content based / data based
-----------------------------------------
Filters
Sorting
Handling Duplicates
Outliers
Missing values
Groups and Bins
Transpose
Transformation: linear, log, exp
Combining the datasets
    horizontal concatenation
    data append
    data join / merge

Data visualization: 
reports - data summaries / Group by / Aggregations
graphs / charts
Formats
Dashboards

CDA - Confirmatory Data Analysis
Statistics
ND, SND, CLM
Hypothesis

Predictive Modelling

## Pandas

In [1]:
import numpy as np
import pandas as pd

In [6]:
print(dir(pd))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_lib', '_libs', '_np_version_under1p14', '_np_version_under1p15', '_np_version_under1p16', '_np_version_under1p17', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

### Series

0. Methods and Attributes

1. Create : 
    From the default python data structures
    ndarray
    Datasets
    DataFrames
    
2. Access
    [] - index | position, slicing
        By default - 
            slicing will work only on default indexes
            in case user defined indexes are of str type, slicing can also be done on UDI
        
        By default - 
            index | position will be on User Defined Indexes
            in case user defined indexes are of str type, we can get the value using DI also
        
        indexing can be done
        
    .iloc[]
        will work only on default indexes
        slicers will go till end +/- 1 based on the step
            end - 1 | step is +ve
            end + 1 | step is -ve
        indexing is NOT possible
    
    .loc[]
        will work only on user defined indexes
        slicers will go till end
        indexing can be done
    
3. Update
    [] = - index | position, slicing, conditions
    
4. Maths operations
    vectorization and Broadcasting are possible
    
5. Indexing | Condition checking
    [] - conditions
    Bitwise operators
    
    
.ndim, .size, .shape, .dtype

#### how to create the pandas Series

In [46]:
l1 = list(np.random.randint(10, 100, 5))
l1

[98, 92, 46, 20, 44]

In [47]:
l1

[98, 92, 46, 20, 44]

In [48]:
np.array(l1)

array([98, 92, 46, 20, 44])

In [51]:
s1 = pd.Series(l1)
s1

0    98
1    92
2    46
3    20
4    44
dtype: int64

In [54]:
s2 = pd.Series(l1, index = range(1, 6))
s2

1    98
2    92
3    46
4    20
5    44
dtype: int64

In [58]:
s3 = pd.Series( l1, index = ['a', 'b', 'c', 'd', 'e'] )
s3

a    98
b    92
c    46
d    20
e    44
dtype: int64

#### how to access the data

In [60]:
s1

0    98
1    92
2    46
3    20
4    44
dtype: int64

In [75]:
s1.iloc[2]

46

In [77]:
s1.iloc[-3]

46

In [76]:
s1.loc[2]

46

In [79]:
s1.iloc[1:3]

1    92
2    46
dtype: int64

In [80]:
s1.loc[1:3]

1    92
2    46
3    20
dtype: int64

In [63]:
s1[2]

46

In [65]:
s1[2:3]

2    46
dtype: int64

In [68]:
s1[1:3]

1    92
2    46
dtype: int64

In [ ]:
s1[-3]  # this will not work

In [61]:
s2

1    98
2    92
3    46
4    20
5    44
dtype: int64

In [67]:
s2[3]

46

In [69]:
s2[4]

20

In [70]:
s2[2:4]

3    46
4    20
dtype: int64

In [62]:
s3

a    98
b    92
c    46
d    20
e    44
dtype: int64

In [71]:
s3[2]

46

In [72]:
s3['c']

46

In [73]:
s3[1:3]

b    92
c    46
dtype: int64

In [74]:
s3['b':'d']

b    92
c    46
d    20
dtype: int64

In [81]:
s2

1    98
2    92
3    46
4    20
5    44
dtype: int64

In [82]:
s2[3]

46

In [83]:
s2.loc[3]

46

In [84]:
s2.iloc[2]

46

In [88]:
s2.iloc[-3]

46

In [85]:
s2.iloc[2:3]

3    46
dtype: int64

In [87]:
s2.loc[3:3]

3    46
dtype: int64

In [89]:
s3

a    98
b    92
c    46
d    20
e    44
dtype: int64

In [90]:
s3.iloc[2]

46

In [92]:
s3.loc['c']

46

In [93]:
s3.iloc[2:3]

c    46
dtype: int64

In [95]:
s3.loc['c':'c']

c    46
dtype: int64

In [96]:
s3.iloc[-3]

46

In [97]:
s3

a    98
b    92
c    46
d    20
e    44
dtype: int64

In [101]:
s3.loc['c':'e']

c    46
d    20
e    44
dtype: int64

#### update the data

In [102]:
s2

1    98
2    92
3    46
4    20
5    44
dtype: int64

In [105]:
s2[3] = -1

In [106]:
s2

1    98
2    92
3    -1
4    20
5    44
dtype: int64

In [107]:
s2

1    98
2    92
3    -1
4    20
5    44
dtype: int64

In [112]:
# broadcasting
s2.loc[4:5] = 100

In [113]:
s2

1     98
2     92
3     -1
4    100
5    100
dtype: int64

In [115]:
# vectorization
s2.loc[:2] = 50, 60

In [116]:
s2

1     50
2     60
3     -1
4    100
5    100
dtype: int64

In [118]:
s2.loc[:3] = 2, 3   # error

ValueError: cannot set using a slice indexer with a different length than the value

In [119]:
s2

1     50
2     60
3     -1
4    100
5    100
dtype: int64

In [121]:
s4 = pd.Series( np.random.randint(10, 100, 20) )
s4

0     96
1     43
2     35
3     14
4     93
5     49
6     78
7     24
8     79
9     53
10    39
11    46
12    43
13    24
14    36
15    22
16    30
17    68
18    67
19    63
dtype: int32

In [124]:
# get all the odd numbers from s4
s4[s4 % 2 != 0]

1     43
2     35
4     93
5     49
8     79
9     53
10    39
12    43
18    67
19    63
dtype: int32

In [128]:
# get the number GE 75 from s4
s5 = s4.loc[ s4 >= 75 ]

In [129]:
s5

0    96
4    93
6    78
8    79
dtype: int32

In [127]:
# get the number LE 25 from s4
s4.iloc[ s4 <= 25 ]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [132]:
# get the values between 40 nd 60
s4[ (s4 >= 40) & (s4 <= 60) ]

1     43
5     49
9     53
11    46
12    43
dtype: int32

In [133]:
s4.loc[ (s4 >= 40) & (s4 <= 60) ]

1     43
5     49
9     53
11    46
12    43
dtype: int32

In [134]:
s4.ndim

1

In [135]:
s4.shape

(20,)

In [136]:
s4.size

20

### DataFrames

#### data import

In [139]:
stores = pd.read_csv( 'D:/SampleData/stores.csv' )

#### meta data inspection

In [141]:
stores.shape

(32, 15)

In [140]:
stores.ndim

2

In [142]:
stores.size

480

In [143]:
stores.columns

Index(['StoreCode', 'StoreName', 'StoreType', 'Location', 'OperatingCost',
       'Staff_Cnt', 'TotalSales', 'Total_Customers', 'AcqCostPercust',
       'BasketSize', 'ProfitPercust', 'OwnStore', 'OnlinePresence', 'Tenure',
       'StoreSegment'],
      dtype='object')

In [145]:
stores.dtypes

StoreCode           object
StoreName           object
StoreType           object
Location            object
OperatingCost      float64
Staff_Cnt            int64
TotalSales         float64
Total_Customers      int64
AcqCostPercust     float64
BasketSize         float64
ProfitPercust      float64
OwnStore             int64
OnlinePresence       int64
Tenure               int64
StoreSegment         int64
dtype: object

In [146]:
type(stores)

pandas.core.frame.DataFrame

In [147]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   StoreCode        32 non-null     object
 1   StoreName        32 non-null     object
 2   StoreType        32 non-null     object
 3   Location         32 non-null     object
 4   OperatingCost    32 non-null     float64
 5   Staff_Cnt        32 non-null     int64
 6   TotalSales       32 non-null     float64
 7   Total_Customers  32 non-null     int64
 8   AcqCostPercust   29 non-null     float64
 9   BasketSize       32 non-null     float64
 10  ProfitPercust    32 non-null     float64
 11  OwnStore         32 non-null     int64
 12  OnlinePresence   32 non-null     int64
 13  Tenure           32 non-null     int64
 14  StoreSegment     32 non-null     int64
dtypes: float64(5), int64(6), object(4)
memory usage: 3.9+ KB

In [151]:
stores.head(2)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.9,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.9,2.875,17.02,0,1,4,4

In [154]:
stores.tail(2)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.57,14.6,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.78,18.6,1,1,4,2

In [156]:
stores.describe().T

,count,mean,std,min,25%,50%,75%,max
OperatingCost,32.0,20.090625,6.026948,10.400,15.42500,19.200,22.80,33.900
Staff_Cnt,32.0,61.875000,17.859216,40.000,40.00000,60.000,80.00,80.000
TotalSales,32.0,230.721875,123.938694,71.100,120.82500,196.300,326.00,472.000
Total_Customers,32.0,146.687500,68.562868,52.000,96.50000,123.000,180.00,335.000
AcqCostPercust,29.0,3.651034,0.532664,2.760,3.15000,3.730,3.92,4.930
BasketSize,32.0,3.217250,0.978457,1.513,2.58125,3.325,3.61,5.424
ProfitPercust,32.0,17.848750,1.786943,14.500,16.89250,17.710,18.90,22.900
OwnStore,32.0,0.437500,0.504016,0.000,0.00000,0.000,1.00,1.000
OnlinePresence,32.0,0.406250,0.498991,0.000,0.00000,0.000,1.00,1.000
Tenure,32.0,3.687500,0.737804,3.000,3.00000,4.000,4.00,5.000
StoreSegment,32.0,2.625000,1.211504,1.000,2.00000,2.000,4.00,4.000

In [157]:
stores.count()

StoreCode          32
StoreName          32
StoreType          32
Location           32
OperatingCost      32
Staff_Cnt          32
TotalSales         32
Total_Customers    32
AcqCostPercust     29
BasketSize         32
ProfitPercust      32
OwnStore           32
OnlinePresence     32
Tenure             32
StoreSegment       32
dtype: int64

In [158]:
stores.mean()

OperatingCost       20.090625
Staff_Cnt           61.875000
TotalSales         230.721875
Total_Customers    146.687500
AcqCostPercust       3.651034
BasketSize           3.217250
ProfitPercust       17.848750
OwnStore             0.437500
OnlinePresence       0.406250
Tenure               3.687500
StoreSegment         2.625000
dtype: float64

In [161]:
stores.quantile(0.75)

OperatingCost       22.80
Staff_Cnt           80.00
TotalSales         326.00
Total_Customers    180.00
AcqCostPercust       3.92
BasketSize           3.61
ProfitPercust       18.90
OwnStore             1.00
OnlinePresence       1.00
Tenure               4.00
StoreSegment         4.00
Name: 0.75, dtype: float64

In [166]:
print( 'This', 'is', 'class', 'of', 'python', sep = ' - ' )
print( 'This', 'is', 'class', 'of', 'python', sep = ' - ' )

This - is - class - of - python
This - is - class - of - python