In [ ]:
keyword argumnents
wd

In [2]:
import os

In [1]:
import numpy as np

In [4]:
print(dir(os))

['DirEntry', 'F_OK', 'MutableMapping', 'O_APPEND', 'O_BINARY', 'O_CREAT', 'O_EXCL', 'O_NOINHERIT', 'O_RANDOM', 'O_RDONLY', 'O_RDWR', 'O_SEQUENTIAL', 'O_SHORT_LIVED', 'O_TEMPORARY', 'O_TEXT', 'O_TRUNC', 'O_WRONLY', 'P_DETACH', 'P_NOWAIT', 'P_NOWAITO', 'P_OVERLAY', 'P_WAIT', 'PathLike', 'R_OK', 'SEEK_CUR', 'SEEK_END', 'SEEK_SET', 'TMP_MAX', 'W_OK', 'X_OK', '_Environ', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_execvpe', '_exists', '_exit', '_fspath', '_get_exports_list', '_putenv', '_unsetenv', '_wrap_close', 'abc', 'abort', 'access', 'altsep', 'chdir', 'chmod', 'close', 'closerange', 'cpu_count', 'curdir', 'defpath', 'device_encoding', 'devnull', 'dup', 'dup2', 'environ', 'error', 'execl', 'execle', 'execlp', 'execlpe', 'execv', 'execve', 'execvp', 'execvpe', 'extsep', 'fdopen', 'fsdecode', 'fsencode', 'fspath', 'fstat', 'fsync', 'ftruncate', 'get_exec_path', 'get_handle_inheritable', 'get_inheritable', 'get_terminal_size', 'getcwd', 'getcwdb', 'getenv', 'getlogin', 'getpid', 'getppid', 'isatty', 'kill', 'linesep', 'link', 'listdir', 'lseek', 'lstat', 'makedirs', 'mkdir', 'name', 'open', 'pardir', 'path', 'pathsep', 'pipe', 'popen', 'putenv', 'read', 'readlink', 'remove', 'removedirs', 'rename', 'renames', 'replace', 'rmdir', 'scandir', 'sep', 'set_handle_inheritable', 'set_inheritable', 'spawnl', 'spawnle', 'spawnv', 'spawnve', 'st', 'startfile', 'stat', 'stat_result', 'statvfs_result', 'strerror', 'supports_bytes_environ', 'supports_dir_fd', 'supports_effective_ids', 'supports_fd', 'supports_follow_symlinks', 'symlink', 'sys', 'system', 'terminal_size', 'times', 'times_result', 'truncate', 'umask', 'uname_result', 'unlink', 'urandom', 'utime', 'waitpid', 'walk', 'write']

In [ ]:
UDF - User Defined Functions

def func_name( args ):
    logic..
    return

In [5]:
import pandas as pd

In [6]:
stores = pd.read_csv('D:/SampleData/stores.csv')

In [7]:
stores.shape

(32, 15)

In [10]:
stores.loc[ stores.Location == 'Delhi' ].shape[0]

8

In [11]:
stores.loc[ stores.Location == 'Delhi' ].count()

StoreCode          8
StoreName          8
StoreType          8
Location           8
OperatingCost      8
Staff_Cnt          8
TotalSales         8
Total_Customers    8
AcqCostPercust     8
BasketSize         8
ProfitPercust      8
OwnStore           8
OnlinePresence     8
Tenure             8
StoreSegment       8
dtype: int64

### Revision

outlier
    iqr: .quantile()
    percentile: .quantile()
    std: .std(), .mean()
    
    .clip( lower = , upper = )

missing
    .isna(), .isnull(), .notna(), .notnull(), .count(), .shape
    How many / %age of missings in each variable
    
    drop the row: .dropna( axis = 0 )
    drop a column: .dropna( axis = 1 )
    missing value imputaion: .fillna( )

Summaries
    .groupby(), .agg(), .sum(), ....
    .pivot()
    
    .pivot_table()
    
    pd.crosstab()
    
Groups and Bins
    pd.cut()
    pd.qcut()

Combining
    Merge / Join
        pd.merge( left =, right = , how = , left_on = , right_on = )
        
    append
        .append()
        pd.concat( axis = 0 )
        
    horizontal concat
        pd.concat( axis = 1 )

### data type conversions

In [12]:
a = 10
b = '10'

In [13]:
type(a)

int

In [14]:
type(b)

str

In [15]:
a + 10

20

In [17]:
int(b) + 10

20

In [ ]:
price
10


-.

In [18]:
s1 = pd.Series(['10', '20', '30', '40'])

In [19]:
type(s1)

pandas.core.series.Series

In [20]:
s1

0    10
1    20
2    30
3    40
dtype: object

In [ ]:
pd.to_numeric()
Ser.astype()

In [25]:
s1.astype(np.int16) + 100

0    110
1    120
2    130
3    140
dtype: int16

In [26]:
pd.to_numeric( s1 ) + 100

0    110
1    120
2    130
3    140
dtype: int64

char
    string, special chars, alphanumerics

numeric
    int
    float
    bool
    date and time

pd.to_numeric()

pd.to_datetime()

non standard numerics: numbers which are stored as text
    
.astype()

In [34]:
'23-1-2021'

'23-1-2021'

In [33]:
'23jan2021'

'23jan2021'

In [35]:
'23/1/2021'

0.011380504700643246

In [36]:
'23.01.2021'

SyntaxError: invalid syntax (<ipython-input-36-d838d2900ef8>, line 1)

### date and time

datetime.datetime
    datetime.datetime object
    
pd.Timestamp
    datetime64
    Timestamp

pd.to_datetime()
.strftime()
.strptime()

***********************************************************************************
1. Data type conversions
    i. Informat the dates - Convert data from text type to date and time type
        pd.to_datetime( Val/Ser, format = '' )
        datetime.datetime.strptime( Val, '' )
        pd.Timestamp.strptime( Val, '' ) - cant be used in latest versions
    
    ii. Format the dates - Convert the dates from date and time to string
    
2. Datediff - difference of two dates
    timedelta: # of days

3. Dateadd - add date part to date to get past or future date

4. Get system date

5. get the date parts from given date, or vice versa
    datetime.datetime
    Timestamp
    
    .day, .month, .year, .hour, .minute
6. other methods and attributes

***************************************************************************************

date and time formats:

%d  %a  %A
%m  %b  %B
%y  %Y

%H  %I %p
%M
%S

In [77]:
import datetime
#from datetime import datetime

In [78]:
print(dir(datetime.datetime))

['__add__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', 'astimezone', 'combine', 'ctime', 'date', 'day', 'dst', 'fold', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'hour', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'microsecond', 'min', 'minute', 'month', 'now', 'replace', 'resolution', 'second', 'strftime', 'strptime', 'time', 'timestamp', 'timetuple', 'timetz', 'today', 'toordinal', 'tzinfo', 'tzname', 'utcfromtimestamp', 'utcnow', 'utcoffset', 'utctimetuple', 'weekday', 'year']

In [47]:
pd.Timestamp?

In [46]:
print(dir(pd.Timestamp))

['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__pyx_vtable__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_date_attributes', '_date_repr', '_get_date_name_field', '_get_start_end_field', '_has_time_component', '_repr_base', '_round', '_short_repr', '_time_repr', 'asm8', 'astimezone', 'ceil', 'combine', 'ctime', 'date', 'day', 'day_name', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'dst', 'floor', 'fold', 'freq', 'freqstr', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'hour', 'is_leap_year', 'is_month_end', 'is_month_start', 'is_quarter_end', 'is_quarter_start', 'is_year_end', 'is_year_start', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'microsecond', 'min', 'minute', 'month', 'month_name', 'nanosecond', 'normalize', 'now', 'quarter', 'replace', 'resolution', 'round', 'second', 'strftime', 'strptime', 'time', 'timestamp', 'timetuple', 'timetz', 'to_datetime64', 'to_julian_date', 'to_numpy', 'to_period', 'to_pydatetime', 'today', 'toordinal', 'tz', 'tz_convert', 'tz_localize', 'tzinfo', 'tzname', 'utcfromtimestamp', 'utcnow', 'utcoffset', 'utctimetuple', 'value', 'week', 'weekday', 'weekofyear', 'year']

In [48]:
s2 = pd.Series(['23 Jan 2021', '20 Jun 1990', '31 Dec 2020'])

In [49]:
s2

0    23 Jan 2021
1    20 Jun 1990
2    31 Dec 2020
dtype: object

In [53]:
pd.to_datetime(s2)

0   2021-01-23
1   1990-06-20
2   2020-12-31
dtype: datetime64[ns]

In [81]:
pd.to_datetime(s2, format = '%d %b %Y')

0   2021-01-23
1   1990-06-20
2   2020-12-31
dtype: datetime64[ns]

In [54]:
s3 = pd.Series(['03012021', '10061990', '11122020'])

In [55]:
s3

0    03012021
1    10061990
2    11122020
dtype: object

In [58]:
pd.to_datetime(s3, format = '%m%d%Y')

0   2021-03-01
1   1990-10-06
2   2020-11-12
dtype: datetime64[ns]

In [57]:
pd.to_datetime(s3, format = '%d%m%Y')

0   2021-01-03
1   1990-06-10
2   2020-12-11
dtype: datetime64[ns]

In [69]:
s4 = pd.Series(['04-01-2021', '12/02/1999'])

In [72]:
pd.to_datetime(s4)

0   2021-04-01
1   1999-12-02
dtype: datetime64[ns]

In [73]:
s5 = s4.str.replace('-', '/')

In [74]:
pd.to_datetime(s5, format = '%d/%m/%Y')

0   2021-01-04
1   1999-02-12
dtype: datetime64[ns]

##### get the system date

In [82]:
pd.Timestamp.now()

Timestamp('2021-01-23 16:18:14.979406')

In [83]:
pd.Timestamp.today()

Timestamp('2021-01-23 16:18:15.196426')

In [84]:
datetime.datetime.now()

datetime.datetime(2021, 1, 23, 16, 18, 27, 230372)

In [85]:
pd.Timestamp.utcnow()

Timestamp('2021-01-23 10:48:40.038270+0000', tz='UTC')

##### get the dob from user and calculate age from there

In [86]:
dob = input('Enter your DOB (dd-mm-yyyy):')

Enter your DOB (dd-mm-yyyy):12-11-1989

In [87]:
dob

'12-11-1989'

In [88]:
type(dob)

str

In [90]:
pd.to_datetime(dob)

Timestamp('1989-12-11 00:00:00')

In [92]:
idays = pd.Timestamp.now() - pd.to_datetime(dob)

In [95]:
idays.days/365.25

31.11841204654346

In [97]:
datetime.datetime.strptime(dob, '%d-%m-%Y')

datetime.datetime(1989, 11, 12, 0, 0)

In [98]:
pd.Timestamp.strptime(dob, '%d-%m-%Y')

NotImplementedError: Timestamp.strptime() is not implemented.Use to_datetime() to parse date strings.

In [105]:
print(dir(pd.Timestamp.now()))

['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__pyx_vtable__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_date_attributes', '_date_repr', '_get_date_name_field', '_get_start_end_field', '_has_time_component', '_repr_base', '_round', '_short_repr', '_time_repr', 'asm8', 'astimezone', 'ceil', 'combine', 'ctime', 'date', 'day', 'day_name', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'dst', 'floor', 'fold', 'freq', 'freqstr', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'hour', 'is_leap_year', 'is_month_end', 'is_month_start', 'is_quarter_end', 'is_quarter_start', 'is_year_end', 'is_year_start', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'microsecond', 'min', 'minute', 'month', 'month_name', 'nanosecond', 'normalize', 'now', 'quarter', 'replace', 'resolution', 'round', 'second', 'strftime', 'strptime', 'time', 'timestamp', 'timetuple', 'timetz', 'to_datetime64', 'to_julian_date', 'to_numpy', 'to_period', 'to_pydatetime', 'today', 'toordinal', 'tz', 'tz_convert', 'tz_localize', 'tzinfo', 'tzname', 'utcfromtimestamp', 'utcnow', 'utcoffset', 'utctimetuple', 'value', 'week', 'weekday', 'weekofyear', 'year']

In [104]:
# age in years
pd.Timestamp.now().year - pd.to_datetime(dob).year

32

In [111]:
pd.Timestamp.now() + pd.DateOffset( months = 1 )

Timestamp('2021-02-23 16:45:22.487462')

In [115]:
pd.Timestamp.now() + pd.DateOffset( day = 10 )

Timestamp('2021-01-10 16:46:32.727230')

In [116]:
pd.Timestamp.now() + pd.DateOffset( days = 10 )

Timestamp('2021-02-02 16:46:42.858618')

In [117]:
pd.Timestamp.now() + pd.DateOffset( days = -35 )

Timestamp('2020-12-19 16:48:22.085079')

##### get the date from user and get the last day of the month for that date

In [120]:
date1 = input('Enter the date (mmm dd, yy): ')
date2 = pd.to_datetime( date1, format = '%b %d, %y' )

Enter the date (mmm dd, yy): Mar 25, 16

In [121]:
date1

'Mar 25, 16'

In [122]:
date2

Timestamp('2016-03-25 00:00:00')

In [123]:
date2 + pd.DateOffset( day = 31 )

Timestamp('2016-03-31 00:00:00')

##### get the last day for each of the day in series s6

In [129]:
s6 = pd.Series(['Mar 25, 16', 'Feb 13, 20', 'Apr 17, 11', 'Feb 13, 19'])

In [130]:
s6

0    Mar 25, 16
1    Feb 13, 20
2    Apr 17, 11
3    Feb 13, 19
dtype: object

In [136]:
pd.to_datetime( s6, format = '%b %d, %y' ) + pd.DateOffset( months = 1, day = 1, days = -1 )

0   2016-03-31
1   2020-02-29
2   2011-04-30
3   2019-02-28
dtype: datetime64[ns]

In [137]:
pd.read_csv( , sep = '|')

In [ ]:
?
shift + tab

dir()

### lambda functions