# Python Foundation: Class 4 topics
> <h4>
1. Getting started with pandas <br/><br/>
2. Pandas
   - Data Structures <br/><br/>
3. Data Import from raw files
</h4>

## Concepts of base python
> - What are the basic python DS?
> - Common features of DS of python
> - What is tabular data and what are its features?

**In Python, a table is defined as a structure which is combo of multiple 1D DS**

## Getting started with pandas

#### pandas - panel data analysis
> - pip install pandas - install pandas if not available
> - import pandas as pd - to use the functions from pandas

### pandas data structures and their properties

**1. pandas.Series**
> - Strictly homogenous - 1D DS
> - No need to apply loops and ifs for conditions
> - Follow the same [] to access elements by indexes
> - indexes can be numbers or text

**2. pandas.DataFrame**
> - 2D DS
> - combination of multiple series
> - equivalent to regular tables

### Create pandas series - 1d ds
- from defalut python data structures
- from numpy arrays

In [ ]:
# pandas series is 1d ds
# it is strictly homogenous

In [249]:
# create list, tuple and dict
l1 = [23, 43, 56, 78, 87, 54]
t1 = 23, 43, 56, 78, 87, 54
d1 = {'Emp ID': 1001, 'Emp Name': 'John Shaw', 'Dept': 'Finance', 'Salary': 10000}

In [242]:
l1

[23, 43, 56, 78, 87, 54]

In [241]:
# create pandas series from defalut python data structures: list/tuple
pd.Series(l1)

0    23
1    43
2    56
3    78
4    87
5    54
dtype: int64

In [243]:
pd.Series(t1)

0    23
1    43
2    56
3    78
4    87
5    54
dtype: int64

In [261]:
s1 = pd.Series(l1, name = 'MyColumn', index = range(1, 7))

In [248]:
pd.Series(l1, name = 'MyColumn', index = ['a', 'b', 'c', 'd', 'e', 'f'])

a    23
b    43
c    56
d    78
e    87
f    54
Name: MyColumn, dtype: int64

In [250]:
d1

{'Emp ID': 1001, 'Emp Name': 'John Shaw', 'Dept': 'Finance', 'Salary': 10000}

In [254]:
# create pandas series from defalut python data structures: dict
pd.Series(d1, index = ['Emp ID', 'Salary', 'Emp Name', 'Dept'], name = 'MyColumn')

Emp ID           1001
Salary          10000
Emp Name    John Shaw
Dept          Finance
Name: MyColumn, dtype: object

In [258]:
pd.Series(d1, index = ['Emp Name', 'a', 'b', 'c', 'd', 'e', 'f'], name = 'MyColumn')

Emp Name    John Shaw
a                 NaN
b                 NaN
c                 NaN
d                 NaN
e                 NaN
f                 NaN
Name: MyColumn, dtype: object

In [255]:
d2 = {'Emp ID': [1001, 1002], 'Emp Name': 'John Shaw', 'Dept': 'Finance', 'Salary': 10000}

In [256]:
pd.Series(d2)

Emp ID      [1001, 1002]
Emp Name       John Shaw
Dept             Finance
Salary             10000
dtype: object

In [263]:
l1

[23, 43, 56, 78, 87, 54]

In [265]:
s1 = pd.Series(l1, name = 'MyColumn', index = range(1, 7))
s1

1    23
2    43
3    56
4    78
5    87
6    54
Name: MyColumn, dtype: int64

In [272]:
s1[s1 > 60]

4    78
5    87
Name: MyColumn, dtype: int64

In [ ]:
# .iloc: 
    # in case we want to get the values from ds using default indexes [int]
    # in case range is given for slicing; range will be low till end -1
    
# .loc: 
    # in case we want to get the values from ds using user defined indexes [Numeric/str]
    # in case range is given for slicing; range will be low till end

In [273]:
s1

1    23
2    43
3    56
4    78
5    87
6    54
Name: MyColumn, dtype: int64

In [280]:
s1.loc[2:4]

2    43
3    56
4    78
Name: MyColumn, dtype: int64

In [281]:
s2 = pd.Series(l1, name = 'MyColumn', index = ['a', 'b', 'c', 'd', 'e', 'f'])

In [282]:
s2

a    23
b    43
c    56
d    78
e    87
f    54
Name: MyColumn, dtype: int64

In [285]:
s2.loc['d']

78

In [288]:
s2.ix['c']

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

56

In [291]:
a1 = np.array(l1)

In [292]:
pd.Series(a1)

0    23
1    43
2    56
3    78
4    87
5    54
dtype: int32

In [239]:
# import pandas
import pandas as pd

# create pandas series from defalut python data structures: list/tuple

# create user defined numerical indexes for pandas Series

# create user defined alphabatical indexes for pandas Series

# create pandas series from defalut python data structures: dict

# If both a dict and index sequence are used, the index will override the keys found in the dict.

# create pandas series from numpy 1d arrays

In [92]:
# import pandas
import pandas as pd

In [93]:
l1 = [24, 65, 34, 76, 98, 67]

In [21]:
t1 = (44, 66, 65, 17, 94, 32, 88, 12, 29, 40)

In [179]:
d1 = {'Emp ID': 1001, 'Emp Name': 'John Shaw', 'Dept': 'Finance', 'Salary': 10000}

In [23]:
# create pandas series from defalut python data structures: list/tuple
s1 = pd.Series(l1)
s2 = pd.Series(t1)

In [86]:
# create user defined numerical indexes for Series
s3 = pd.Series(l1, index = [1, 2, 3, 4, 5, 6])

In [98]:
s3 = pd.Series(l1, index = range(1, 7))

In [76]:
# create user defined alphabatical indexes for Series
s4 = pd.Series(l1, index = ['a', 'b', 'c', 'd', 'e', 'f'])

In [77]:
# create pandas series from defalut python data structures: dict
s5 = pd.Series(d1)

In [87]:
# index in case of dict can only be used to reorder the elements in the series.
# any other value will add new element in series with NaN
s6 = pd.Series(d1, index = ['a', 'b', 'c', 'd'])

In [55]:
# create pandas series from numpy 1d arrays
import numpy as np
a1 = np.array(l1)

In [94]:
s7 = pd.Series(a1, index = ('a', 'b', 'c', 'd', 'e', 'f'))

### Slicing & Indexing data: accessing the data from pandas series
> 0. **Using square brackets [ ]**
> 1. Using default indexes: .iloc[ ]
> 2. Using user defined indexes: .loc[ ]

In [151]:
# create pandas series
l1 = [24, 65, 34, 76, 98, 67]
s1 = pd.Series(l1, index = ['a', 'b', 'c', 'd', 'e', 'f'])

# get the third element from the series

# get the elements at default index position from 3 till 5

# get the elements where vlaue is greater than 50

# there is no way we can do slicing of the data with user defined indexes; thus loc and iloc are used

# slicing using .iloc

# slicing using .loc

# indexing using .iloc: get the elements where vlaue is greater than 50

# indexing using .loc: get the elements where vlaue is greater than 50

# indexing on multiple conditions: get the elements where vlaue is greater than 50 and less than 90

In [314]:
s1 = pd.Series(l1, index = ['a', 'b', 'c', 'd', 'e', 'f'], name = 'mycolumn')
s1

a    23
b    43
c    56
d    78
e    87
f    54
Name: mycolumn, dtype: int64

In [295]:
s1 > 50

a    False
b    False
c     True
d     True
e     True
f     True
dtype: bool

In [302]:
# indexing using .loc: get the elements where vlaue is greater than 50
s1.loc[s1 < 60]

a    23
b    43
c    56
f    54
dtype: int64

In [303]:
s1.iloc[list(s1 < 60)]

a    23
b    43
c    56
f    54
dtype: int64

In [304]:
s1

a    23
b    43
c    56
d    78
e    87
f    54
dtype: int64

In [306]:
(s1 > 50) & (s1 < 90)

a    False
b    False
c     True
d     True
e     True
f     True
dtype: bool

In [307]:
# indexing on multiple conditions: get the elements where vlaue is greater than 50 and less than 90
s1[(s1 > 50) & (s1 < 90)]

c    56
d    78
e    87
f    54
dtype: int64

In [308]:
s1.loc[(s1 > 50) & (s1 < 90)]

c    56
d    78
e    87
f    54
dtype: int64

In [309]:
s1.iloc[list((s1 > 50) & (s1 < 90))]

c    56
d    78
e    87
f    54
dtype: int64

In [118]:
# get the third element from the series
s1[2]

In [119]:
# get the third till fifth elements from the series
s1[2:5]

In [143]:
# get the elements where vlaue is greater than 50
s1 [s1 > 50]

In [150]:
s1.iloc[list((s1 > 50) & (s1 < 90))]

In [316]:
s1.to_csv?

In [317]:
s1.to_csv('myseries.csv', header = True)

### Create pandas DataFrame - 2d ds
- from defalut python data structures
- from pandas series
- from numpy arrays
- import the data from external files or databases

In [318]:
l1

[23, 43, 56, 78, 87, 54]

In [321]:
# create a dataframe from the list/tuple
pd.DataFrame(t1)

    0
0  23
1  43
2  56
3  78
4  87
5  54

In [322]:
d1 = {'EmpID': [1001, 1002, 1003, 1004],
         'Emp Name': ['Mike', 'John', 'Lee', 'Andrina'],
             'Dept': ['HR', 'IT', 'IT', 'Finance'],
                 'Salary': [10000, 12000, 14000, 13000]}

In [323]:
d1

{'EmpID': [1001, 1002, 1003, 1004],
 'Emp Name': ['Mike', 'John', 'Lee', 'Andrina'],
 'Dept': ['HR', 'IT', 'IT', 'Finance'],
 'Salary': [10000, 12000, 14000, 13000]}

In [329]:
pd.DataFrame(d1, index = range(1, 5))

   EmpID Emp Name     Dept  Salary
1   1001     Mike       HR   10000
2   1002     John       IT   12000
3   1003      Lee       IT   14000
4   1004  Andrina  Finance   13000

In [330]:
# create a dataframe from pandas series
s1 = pd.Series([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008], name = 'EmpId', dtype = int)

In [331]:
s2 = pd.Series(['John', 'Mac', 'Raj', 'Tim', 'Lee', 'Sam', 'Kim', 'Joe'], name = 'EmpName', dtype = object)

In [332]:
s3 = pd.Series(['Finance', 'HR', 'IT', 'IT', 'IT', 'IT', 'Finance', 'HR'], name = 'Dept', dtype = object)

In [333]:
s4 = pd.Series([10000, 12000, 10000, 12000, 14000, 13000, 10000, 18000], name = 'Salary', dtype = int)

In [334]:
s1

0    1001
1    1002
2    1003
3    1004
4    1005
5    1006
6    1007
7    1008
Name: EmpId, dtype: int32

In [335]:
s2

0    John
1     Mac
2     Raj
3     Tim
4     Lee
5     Sam
6     Kim
7     Joe
Name: EmpName, dtype: object

In [346]:
df1 = pd.DataFrame([s1, s2, s3, s4]).T

In [ ]:
df1.

In [319]:
# create a dataframe from dict

# create a dataframe from pandas series

# create a dataframe from numpy arrays

# create a dataframe using file import

    0
0  23
1  43
2  56
3  78
4  87
5  54

In [ ]:
# create a dataframe from dict
d1 = {'Emp ID': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008], 
      'Emp Name': ['John', 'Mac', 'Andrew', 'Andrina', 'Lee', 'Sam', 'Kim', 'Leena'], 
      'Dept': ['Finance', 'HR', 'IT', 'IT', 'IT', 'IT', 'Finance', 'HR'], 
      'Salary': [10000, 12000, 10000, 12000, 14000, 13000, 10000, 18000]}
pd.DataFrame(d1, index = range(1, 9))

In [222]:
# create a dataframe from pandas series
s1 = pd.Series([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008], name = 'EmpId', dtype = int, index = range(1, 9))
s2 = pd.Series(['John', 'Mac', 'Raj', 'Tim', 'Lee', 'Sam', 'Kim', 'Joe'], name = 'EmpName', dtype = object, index = range(1, 9))
s3 = pd.Series(['Finance', 'HR', 'IT', 'IT', 'IT', 'IT', 'Finance', 'HR'], name = 'Dept', dtype = object, index = range(1, 9))
s4 = pd.Series([10000, 12000, 10000, 12000, 14000, 13000, 10000, 18000], name = 'Salary', dtype = int, index = range(1, 9))
df1 = pd.DataFrame([s1, s2, s3, s4])

In [224]:
a1 = np.full((3,3), 10)

In [232]:
pd.DataFrame(a1, columns = ['col1', 'col2', 'col3'])

   col1  col2  col3
0    10    10    10
1    10    10    10
2    10    10    10

### Data Import from external sources
1. know what file type you're about to import
2. know file path/name.ext

#### list of functions - read_XXXXXX

1. csv
	a. read_csv()
	b. "C:/My Documents/DataSets/store.csv"

2. excel
	a. read_excel()
	b. file path, name, ext
	c. which sheet "name" or ix - by default - first sheet

3. sas data files
4. connect with a dbms - MySQL or MS SQL Server


### Data Manipulations

#### Structural
1. Change datatypes of columns
2. Rename columns
3. Re arrange columns
4. Adding a new column
5. Delete a column


#### Content Based
1. filters
2. sort
3. removal of duplicates
4. handling missing values
5. binning
6. merging
7. aggregations

#### Basic Explratory Analysis